[Desktop Entry]
Encoding=UTF-8
Exec=/home/jay/.local/bin/docker-deb-start-0.0.1 debian-eclipse-cpp-2.0.0
Icon=/home/jay/.local/share/icons/gcc-sm.png
Type=Application
Terminal=false
GenericName=Eclipse-Photon C++
Name=Eclipse-Photon C++
StartupNotify=false
Categories=Development
